@model icecream.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airPollution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airPollution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
